.vc_custom_1626279929475 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
  border-top-width: 5px !important;
  border-right-width: 5px !important;
  border-bottom-width: 5px !important;
  border-left-width: 5px !important;
  padding-top: 70px !important;
  padding-bottom: 70px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-left-color: rgba(255, 255, 255, 0.15) !important;
  border-left-style: solid !important;
  border-right-color: rgba(255, 255, 255, 0.15) !important;
  border-right-style: solid !important;
  border-top-color: rgba(255, 255, 255, 0.15) !important;
  border-top-style: solid !important;
  border-bottom-color: rgba(255, 255, 255, 0.15) !important;
  border-bottom-style: solid !important;
}

.vc_custom_1628260936894 {
  padding-top: 0px !important;
}

.vc_custom_1749035824539 {
  margin-bottom: 20px !important;
}

.vc_custom_1628260954404 {
  margin-bottom: 0px !important;
}

.wd-rs-68402b2cbb49b {
  --wd-max-width: 420px;
}
